In [1]:
import numpy as np
from sklearn import preprocessing, neighbors, svm
from sklearn.model_selection import train_test_split
import pandas as pd
path = 'Dados_Modelos\\classificar\\'

In [2]:
dados = pd.read_csv(path+'breast-cancer-wisconsin.data', header=None)
dados

          0   1   2   3   4   5   6   7   8   9   10
0    1000025   5   1   1   1   2   1   3   1   1   2
1    1002945   5   4   4   5   7  10   3   2   1   2
2    1015425   3   1   1   1   2   2   3   1   1   2
3    1016277   6   8   8   1   3   4   3   7   1   2
4    1017023   4   1   1   3   2   1   3   1   1   2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   776715   3   1   1   1   3   2   1   1   1   2
695   841769   2   1   1   1   2   1   1   1   1   2
696   888820   5  10  10   3   7   3   8  10   2   4
697   897471   4   8   6   4   3   4  10   6   1   4
698   897471   4   8   8   5   4   5  10   4   1   4

[699 rows x 11 columns]

In [3]:
colunas = ['id','clump_thickness','unif_cell_size','unif_cell_shape','marg_adhesion','single_epith_cell_size','bare_nuclei','bland_chrom','norm_nucleoli','mitoses','class']
dados.columns = colunas
dados

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [4]:
dados.replace('?',-99999, inplace=True)
dados.drop(['id'], 1, inplace=True)

C:\Users\Gabriel\AppData\Local\Temp/ipykernel_10076/2612698583.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dados.drop(['id'], 1, inplace=True)

In [40]:
X = np.array(dados.drop(['class'], 1))
y = np.array(dados['class'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

C:\Users\Gabriel\AppData\Local\Temp/ipykernel_10076/2280108162.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = np.array(dados.drop(['class'], 1))

###### O tutorial por se antigo nÃ£o falar sobre colocar um valor para o parÃ¢metro Kernel, entÃ£o Ã© necessÃ¡rio especificar o Kernel como Linear para se obter a mesma acurÃ¡cia ou confianÃ§a que o vÃ­deo

In [41]:
clf = svm.SVC(kernel='linear') 
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)
print(confidence)

0.95

In [38]:
example_measures = np.array([[4,2,1,1,1,2,3,2,1]])
example_measures = example_measures.reshape(len(example_measures), -1)
prediction = clf.predict(example_measures)
print(prediction)

[2]