In [40]:
import numpy as np
import pandas as pd
import quandl
import math
from sklearn import preprocessing, svm
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [3]:
df = quandl.get("WIKI/GOOGL")

In [4]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [7]:
df = df[['Adj. Open',  'Adj. High',  'Adj. Low',  'Adj. Close', 'Adj. Volume']]
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Close']) / df['Adj. Close'] * 100
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100

In [13]:
df.head()

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,0.324968
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,7.227007
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,-1.227880
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,-5.726357
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.183658

In [15]:
df = df[['Adj. Close', 'HL_PCT', 'PCT_change', 'Adj. Volume']]
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0
2004-08-20   54.322689  0.710922    7.227007   22834300.0
2004-08-23   54.869377  3.729433   -1.227880   18256100.0
2004-08-24   52.597363  6.417469   -5.726357   15247300.0
2004-08-25   53.164113  1.886792    1.183658    9188600.0

In [37]:
forecast_col = 'Adj. Close'
df.fillna(-99999,inplace=True)
forecast_out = int(math.ceil(0.01*len(df)))
df['label'] = df[forecast_col].shift(-forecast_out)

In [38]:
df.dropna(inplace=True)
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  59.313094
2004-08-20   54.322689  0.710922    7.227007   22834300.0  63.626409
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  65.742942
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  65.000651
2004-08-25   53.164113  1.886792    1.183658    9188600.0  66.495265

In [29]:
df.describe()

        Adj. Close       HL_PCT   PCT_change   Adj. Volume        label
count  3050.000000  3050.000000  3050.000000  3.050000e+03  3050.000000
mean    343.672938     1.106120    -0.024283  8.567195e+06   351.317614
std     184.252796     1.162865     1.553588  8.436401e+06   187.731952
min      50.159839     0.000000    -9.179757  5.211410e+05    67.739104
25%     220.229828     0.358847    -0.798065  3.370501e+06   223.852260
50%     285.870956     0.767459    -0.023316  5.802400e+06   289.130017
75%     452.926892     1.457463     0.782045  1.130470e+07   506.320000
max     815.950000    11.157480     8.759770  8.215110e+07   835.740000

In [41]:
X = np.array(df.drop(['label'], 1))
y = np.array(df['label'])

C:\Users\Gabriel\AppData\Local\Temp/ipykernel_10148/3704626254.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = np.array(df.drop(['label'], 1))

In [44]:
X = preprocessing.scale(X)

In [45]:
y = np.array(df['label'])

In [ ]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)